<a href="https://colab.research.google.com/github/abhjeet1104/Assingment-and-project-ineuron/blob/main/Copy_of_demo_003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Common ques
1. can we use lab? YES
2. Can we use Jupyter notebook locally? YES
3. Can we use neuro lab? YES
4. Can we use VSCODE? YES
4. Can we use PyCharm? YES
5. Can we use Colab? YES
6. Can we code simultaneosly code? YES definitely

# AGENDA
1. Variable Case senstivity [clear]
2. Reserved words in Python [clear]
3. Multi assignment of variables [clear]
4. User input []
5. type casting | type conversion
6. Memory block
7. Operators
  - Logical
  - Equality
  - Comparision
  - Arthimatic
  - Bitwise [Advance classes]
  - Operators for sets and dictionary [Advance classes]

8. String methods

## Variable Case senstivity

variable names defined as

Ashish ashish

In [ ]:
TEN = 10
ten = 20
# TEN and ten both are different in terms of lowercase and uppercase letter

In [ ]:
print(Ten)

NameError: ignored

In [ ]:
TEN

10

## Reserved words in Python

https://docs.python.org/2.5/ref/keywords.html

1. We should not use reserved words as variable names
2. Also python doesn't restrict the user to use reserved keywords as variable names

In [ ]:
print("Hi there")

Hi there

In [ ]:
print = "Hi there" # as a variable
type(print)

str

In [ ]:
print("Hi there")

TypeError: ignored

In [ ]:
print = 12 # as a variable
type(print)

int

In [ ]:
print("Hi there")

TypeError: ignored

In [ ]:
del print # delete the variable print

In [ ]:
print("Hi there")

Hi there

In [ ]:
Print = "Hi there" # as a variable
type(Print)

str

In [ ]:
print("Hi there")

Hi there

In [ ]:
print = 10

In [ ]:
type(print)

int

In [ ]:
del print

In [ ]:
print("Sunny")

Sunny

## Multi assignment of variables

In [ ]:
a, b, c, yes = 10, 20.2, "Sunny", True

In [ ]:
type(a)

int

In [ ]:
type(b)

float

In [ ]:
type(c)

str

In [ ]:
type(yes)

bool

In [ ]:
type(a)

int

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(yes))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# a,b,c = 10

In [ ]:
a,b,c = 10,10,10

In [ ]:
a, A, c, C = 10, 20.2, "Sunny", True

In [ ]:
print(a, A, c, C)

10 20.2 Sunny True

In [ ]:
a=b=c=10

In [ ]:
a,b,c

(10, 10, 10)

In [ ]:
firstName, middleName, sirName = "Sunny", "Bhaveen", "Chandra"

In [ ]:
print(f"{firstName}.{sirName}@gmail.com")

Sunny.Chandra@gmail.com

In [ ]:
name, place, year_of_birth, weight = "Sunny", "Bengaluru", 1991, 80.88

In [ ]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My weight is: {weight} in Kgs
""")

My name is: Sunny
I live at: Bengaluru
I was born in: 1991
My weight is: 80.88 in Kgs

# NOTE: Before can i use? Please try in colab or jupyter notebook once

## User input

In [ ]:
name = input("Enter your Name: ")

print(f"You have entered: {name}")

Enter your Name: 1234
You have entered: 1234

In [ ]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12
Enter value of B: 10
Sum of A and B is: 1210

In [ ]:
print("Sum of A and B is: {A+B}")

Sum of A and B is: {A+B}

In [ ]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(type(A), type(B))

Enter value of A: 12
Enter value of B: 10
<class 'str'> <class 'str'>

# Type conversion

We can convert the data type of one variable into another if it is allowed

In [ ]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(type(A), type(B))

Enter value of A: 12
Enter value of B: 10
<class 'int'> <class 'int'>

In [ ]:
print(f"Sum of A and B is: {A+B}")

Sum of A and B is: 22

In [ ]:
int A

SyntaxError: ignored

In [ ]:
A = float(input("Enter value of A: "))
B = float(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12.2
Enter value of B: 10.2
Sum of A and B is: 22.4

In [ ]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12.2
Enter value of B: 10
Sum of A and B is: 22.2

In [ ]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 12.2
Enter value of B: 10.2

ValueError: ignored

In [ ]:
# String to integer
A = "50"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50
data type after: <class 'int'>, value of A: 50

In [ ]:
# String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: ignored

In [ ]:
# float to integer
A = 50.22
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.22
data type after: <class 'int'>, value of A: 50

In [ ]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

In [ ]:
# integer to boolean
A = 10
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 10
data type after: <class 'bool'>, value of A: True

In [ ]:
# integer to boolean
A = 0
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of A: False

In [ ]:
# integer to boolean
A = -5
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -5
data type after: <class 'bool'>, value of A: True

In [ ]:
# string to boolean
A = "Sunny"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: Sunny
data type after: <class 'bool'>, value of A: True

In [ ]:
# string to boolean
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of A: True

In [ ]:
# string to boolean
A = "False"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: False
data type after: <class 'bool'>, value of A: True

In [ ]:
# empty string to boolean
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [ ]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: ignored