<a href="https://colab.research.google.com/github/abhjeet1104/Assingment-and-project-ineuron/blob/main/FDS_BOOTCAMP_2_0_ASSIGNMENT_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Find the largest number from the given list use for loop.
Number = [12, 75, 150, 180, 145, 525, 50]

##answer

In [1]:
heights = [12.75,150, 180, 140, 525, 50]
largest_number = heights[0]
for number in heights :
  if number > largest_number:
    largest_number = number 
    print(largest_number)

150
180
525

#2. print all even number  between 1,12

##answer

In [2]:
start, end =1, 12
for num in range (start,end + 1):
  if num % 2 == 0:
    print(num,end=" ")

2 4 6 8 10 12

#3. calculate the sum of all number 1 to given number .
expected output :

enter number 10

sum is 55

In [13]:
A = input("enter number A: ")
B = input("enter number B: ")

print(f"Sum is: {A+B}")

enter number A: 1
enter number B: 10
Sum is: 110

#5. print the given  list in reverse order,
list =[ 10, 20, 30, 40, 50]

##Answer

In [10]:
lst = [10, 20, 30, 40,50]
lst.reverse()
print("list", lst)

print("Using reverse", list(reversed(lst)))

list [50, 40, 30, 20, 10]
Using reverse [10, 20, 30, 40, 50]